[
  {
    "name": "${name}",
    "image": "${ecr_repository}:latest",
    "cpu": 0,
    "memoryReservation": 400,
    "essential": true,
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "/ecs/loan-applications",
        "awslogs-region": "us-east-1",
        "awslogs-stream-prefix": "ecs"
      }
    },
    "environment": [
      {
        "name": "ENV",
        "value": "${environment}"
      }
    ],
    "secrets": [
      {
        "name": "USER_DATA_SIGNATURE_PUBLIC_KEY",
        "valueFrom": "${gateway_ssm_arn}/USER_DATA_SIGNATURE_PUBLIC_KEY"
      },
      {
        "name": "NEWRELIC_TOKEN",
        "valueFrom": "${application_ssm_arn}/NEWRELIC_TOKEN"
      }
    ],
    "command": [
      "web"
    ],
    "portMappings": [
      {
        "containerPort": ${port},
        "hostPort": 0
      }
    ]
  }
]
